footer {
	border-top: 1px solid #e6e6e6;
	color: #bbbbbb;
	font-size: 13px;
	line-height: 92px;
	height: 92px;
}
footer .copyright {
	margin-right: 43px;
}
footer a {
	color: #bbbbbb;
}
footer a:hover {
	color: #999999;
}
footer a.icon-key {
	position: relative;
	padding-left: 31px;
}
footer a.icon-key::before {
	content: " ";
	width: 32px;
	height: 32px;
	position: absolute;
	top: 29px;
	left: 0;
	background: url(../img/key.png);
}