header {
	font: 14px/19px Arial, monospace;
}


#menu-first {
	background-color: #525659;
	height: 60px;
}
#menu-first ul li a {
	padding: 0 20px;
	color: #FFF;
	font-size: 13px;
	line-height: 60px;
}
#menu-first ul.settings li:first-child a {
	padding-left: 0;
}
#menu-first ul li a:hover {
	background-color: #32b2e2;
	cursor: pointer;
}
#menu-first ul.settings li a.icon-arrow-down {
	position: relative;
	padding-right: 40px;
}
#menu-first ul.settings li a.icon-arrow-down::after {
	content: " ";
	width: 32px;
	height: 32px;
	position: absolute;
	top: 13px;
	right: 5px;
	background: url(../img/arrow-down.png);
}
#menu-first ul.u-info li:last-child a {
	padding-right: 0;
}
#menu-first ul.u-info li a.icon-incoming-messages-alert {
	position: relative;
	padding-left: 60px;
}
#menu-first ul.u-info li a.icon-incoming-messages-alert::after {
	content: " ";
	width: 32px;
	height: 32px;
	position: absolute;
	top: 13px;
	left: 13px;
	background: url(../img/incoming-messages-alert.png);
}


#menu-second {
	height: 94px;
	/*line-height: 94px;*/
}
#logo-portal {
	vertical-align: middle;
	margin: 22px 0;
}
#menu-second ul {
	margin: 32px 0;
}
#menu-second ul li a {
	font-size: 16px;
	line-height: 30px;
	padding: 0 13px;
	position: relative;
}
#menu-second ul li:last-child a {
	padding-right: 0;
}
#menu-second ul li.active a {
	color: #32b2e2;
}
#menu-second ul li a:hover {
	cursor: pointer;
}
#menu-second ul li a:hover::after {
	content: " ";
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 4px;
	background-color: #32b2e2;
}


#menu-third {
	background-color: #f2f2f2;
	color: #222222;
	height: 50px;
}
#menu-third ul li {
	border-right: 1px solid #e6e6e6;
}
#menu-third ul li:first-child {
	border-left: 1px solid #e6e6e6;
}
#menu-third ul li.active {
	background-color: #FFF;
}
#menu-third ul li a {
	padding: 0 15px;
	height: 50px;
	line-height: 50px;
	position: relative;
}
#menu-third ul li a:hover {
	cursor: pointer;
}
#menu-third ul li.active a:hover {
	background-color: inherit;
	/*background-color: inherit;*/
	/*cursor: default;*/
}
#menu-third ul li a:hover::before {
	content: " ";
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 4px;
	background-color: #32b2e2;
}