input[type="text"].btn-search {
	width: 197px;
	height: 39px;
	padding: 13px 0 12px 39px;
	-webkit-box-shadow: 0 2px 5px 1px #bfbfbf;
	-moz-box-shadow: 0 2px 5px 1px #bfbfbf;
	-o-box-shadow: 0 2px 5px 1px #bfbfbf;
	-ms-box-shadow: 0 2px 5px 1px #bfbfbf;
	box-shadow: 0 2px 5px 1px #bfbfbf;
	margin-top: 7px;
	background: url(../img/search.png) no-repeat 3px 4px;
	color: #bfbfbf;
	-webkit-transition: box-shadow .2s linear;
	-moz-transition: box-shadow .2s linear;
	-o-transition: box-shadow .2s linear;
	transition: box-shadow .2s linear;
}
input[type="text"].btn-search:focus {
	color: #222222;
	box-shadow: 0 2px 10px 3px #B3E1EE;
}

.icon-book-orange {
	position: relative;
}
.icon-book-orange::before {
	content: " ";
	width: 32px;
	height: 32px;
	position: absolute;
	top: 5px;
	left: 0;
	background: url(../img/book-orange.png);
}

.list-event .content {
	padding-left: 35px;
}

table {
	width: 100%;
}
table tr td {
	padding: 10px 0 10px 0;
}

td.person {
	width: 180px;
}
td.content {
	width: 590px;
}

.title-main {
	margin: 20px 0 3px 0;
}
.title-list-events {
	margin: 35px 0 10px 0;
}