html, body, div, span,
/*h1, h2, h3, h4, h5, h6, p,*/
a, img, sub, sup,
ol, ul, li,
table, tbody, thead, tfoot, tr, th, td,
input[type="text"],
footer, header {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
html { height: 100%; }
body {
	height: 100%;
	/*font-family: Helvetica, Arial, monospace;*/
	font: 14px/19px 'Helvetica', 'Arial', sans-serif;
	/*font: 14px/0.736842 Arial, monospace;*/
	background-color: #FFF;
	color: #222222;
}

ol, ul {
	list-style: none;
	font-size: 0;
}
ol li, ul li {
	font-size: 14px;
}

* {
	margin: 0;
	padding: 0;
	outline: none;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-o-box-sizing: border-box;
	-ms-box-sizing: border-box;
	box-sizing: border-box;
}

a { display: inline-block; }
a, a:hover { text-decoration: none; color: #000; }

img { max-width: 100%; }

.left { float: left; }
.right { float: right; }
.text-center { text-align: center; }
.text-right { text-align: right; }

hr {
	border: solid #e6e6e6;
	border-width: 1px 0 0;
	clear: both;
	height: 0;
	margin: 1.25rem 0 1.1875rem;
}

.row {
	/*margin-left: 155px;*/
	/*margin-right: 155px;*/
	/*width: 970px;*/
	width: 1280px;
	padding: 0 155px;
	margin: 0 auto;
}
.col {
	display: inline-block;
}

ol.menu li, ul.menu li {
	display: inline-block;
}

h2 {
	font-size: 30px;
}
h4 {
	font-size: 24px;
	font-weight: 100;
}

section {
	display: none;
	margin: 25px 0;
}
section.active {
	display: block;
}

.badge {
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	-o-border-radius: 2px;
	-ms-border-radius: 2px;
	border-radius: 2px;
	color: #FFF;
	padding: 5px;
	font-size: 10px;
	font-weight: bold;
}

.light-black {
	background-color: #494d4f; !important;
}
.light-black-text {
	color: #494d4f !important;
}
.light-brown {
	background-color: #bcaf84 !important;
}
.light-brown-text {
	color: #bcaf84 !important;
}
.orange {
	background-color: #e78b28 !important;
}
.orange-text {
	color: #e78b28 !important;
}
.light-green {
	background-color: #73b33a !important;
}
.light-green-text {
	color: #73b33a !important;
}